@using BlazorStrap
@using aLice_utils.Shared.Models.Transaction
@using aLice_utils.Shared.Models

<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">SignerPublicKey</span>
        <BSInput InputType="InputType.Text" placeholder="空欄の場合はaLiceアカウント" @bind-Value="InnerTransaction.SignerPublicKey"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.SignerPublicKey)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">MosaicId</span>
        <BSInput InputType="InputType.Text" placeholder="MosaicId" @bind-Value="InnerTransaction.MosaicId"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.MosaicId)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">ReferenceMosaicId</span>
        <BSInput InputType="InputType.Text" placeholder="ReferenceMosaicId" @bind-Value="InnerTransaction.ReferenceMosaicId"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.ReferenceMosaicId)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">RestrictionKey</span>
        <BSInput InputType="InputType.Text" placeholder="RestrictionKey" @bind-Value="InnerTransaction.RestrictionKey"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.RestrictionKey)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">PreviousRestrictionValue</span>
        <BSInput InputType="InputType.Number" placeholder="PreviousRestrictionValue" @bind-Value="InnerTransaction.PreviousRestrictionValue"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.PreviousRestrictionValue)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">NewRestrictionValue</span>
        <BSInput InputType="InputType.Number" placeholder="NewRestrictionValue" @bind-Value="InnerTransaction.NewRestrictionValue"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.NewRestrictionValue)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">PreviousRestrictionType</span>
        <BSButton Color="BSColor.Secondary" OnClick="@OnChangePreviousRestrictionType">@InnerTransaction.PreviousRestrictionType</BSButton>
    </BSInputGroup>
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">NewRestrictionType</span>
        <BSButton Color="BSColor.Secondary" OnClick="@OnChangeNewRestrictionType">@InnerTransaction.NewRestrictionType</BSButton>
    </BSInputGroup>
</BSRow>
@code {
    [Parameter]
    public InnerMosaicGlobalRestrictionTransaction InnerTransaction { get; set; } = new ();
    
    [Parameter]
    public TransactionMeta TransactionMeta { get; set; } = new ();
    
    private void OnChangePreviousRestrictionType()
    {
        InnerTransaction.PreviousRestrictionType = InnerTransaction.PreviousRestrictionType switch
        {
            "NONE" => "EQ",
            "EQ" => "NE",
            "NE" => "LT",
            "LT" => "LE",
            "LE" => "GT",
            "GT" => "GE",
            "GE" => "NONE",
            _ => InnerTransaction.PreviousRestrictionType
            };
    }
    private void OnChangeNewRestrictionType()
    {
        InnerTransaction.NewRestrictionType = InnerTransaction.NewRestrictionType switch
        {
            "NONE" => "EQ",
            "EQ" => "NE",
            "NE" => "LT",
            "LT" => "LE",
            "LE" => "GT",
            "GT" => "GE",
            "GE" => "NONE",
            _ => InnerTransaction.NewRestrictionType
            };
    }
}