@using BlazorStrap
@using aLice_utils.Shared.Models.Transaction

<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">SignerPublicKey</span>
        <BSInput InputType="InputType.Text" placeholder="空欄の場合はaLiceアカウント" @bind-Value="InnerTransaction.SignerPublicKey"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.SignerPublicKey)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">TargetAddress</span>
        <BSInput InputType="InputType.Text" placeholder="TargetAddress" @bind-Value="InnerTransaction.TargetAddress"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.TargetAddress)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">Key</span>
        <BSInput InputType="InputType.Text" placeholder="ScopedMetadataKey" @bind-Value="InnerTransaction.ScopedMetadataKey"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.ScopedMetadataKey)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">MosaicID</span>
        <BSInput InputType="InputType.Text" placeholder="MosaicID" @bind-Value="InnerTransaction.TargetMosaicId"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.TargetMosaicId)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">Value</span>
        <BSInput InputType="InputType.TextArea" placeholder="Value" @bind-Value="InnerTransaction.Value"/>
    </BSInputGroup>
<ValidationMessage For="@(() => InnerTransaction.Value)" />
</BSRow>
@code {
    [Parameter]
    public InnerMosaicMetadataTransaction InnerTransaction { get; set; } = new ();
    
    [Parameter]
    public TransactionMeta TransactionMeta { get; set; } = new ();
}