@using BlazorStrap
@using aLice_utils.Shared.Models.Transaction
@using aLice_utils.Shared.Models

<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">SignerPublicKey</span>
        <BSInput InputType="InputType.Text" placeholder="空欄の場合はaLiceアカウント" @bind-Value="InnerTransaction.SignerPublicKey"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.SignerPublicKey)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">RecipientAddress</span>
        <BSInput InputType="InputType.Text" placeholder="RecipientAddress" @bind-Value="InnerTransaction.RecipientAddress"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.RecipientAddress)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">Secret</span>
        <BSInput InputType="InputType.Text" placeholder="Secret" @bind-Value="InnerTransaction.Secret"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.Secret)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <BSInput InputType="InputType.Text" placeholder="Mosaic ID" @bind-Value="InnerTransaction.Mosaic.Id"/>
        <BSButton Color="BSColor.Secondary" IsOutlined="true" OnClick="SetCurrencyMosaicId">C</BSButton>
        <BSInput InputType="InputType.Number" placeholder="Amount" @bind-Value="InnerTransaction.Mosaic.Amount"/>
    </BSInputGroup>
    <ValidationMessage For=@(() => InnerTransaction.Mosaic.Id) />
    <ValidationMessage For=@(() => InnerTransaction.Mosaic.Amount) />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">Duration</span>
        <BSInput InputType="InputType.Number" placeholder="Duration" @bind-Value="InnerTransaction.Duration"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransaction.Duration)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">HashAlgorithm</span>
        <BSButton Color="BSColor.Secondary" OnClick="@OnClick">@InnerTransaction.HashAlgorithm</BSButton>
    </BSInputGroup>
</BSRow>
@code {
    [Parameter]
    public InnerSecretLockTransaction InnerTransaction { get; set; } = new ();
    
    [Parameter]
    public TransactionMeta TransactionMeta { get; set; } = new ();
    
    private void OnClick()
    {
        InnerTransaction.HashAlgorithm = InnerTransaction.HashAlgorithm switch
        {
            "SHA3_256" => "HASH_160",
            "HASH_160" => "HASH_256",
            "HASH_256" => "SHA3_256",
            _ => InnerTransaction.HashAlgorithm
            };
    }
    
    private void SetCurrencyMosaicId()
    {
        InnerTransaction.Mosaic.Id = TransactionMeta.NetworkType == "MainNet" ? "6BED913FA20223F8" : "72C0212E67A08BCE";
    }
}