@using BlazorStrap
@using aLice_utils.Shared.Models
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">SignerPublicKey</span>
        <BSInput InputType="InputType.Text" placeholder="アカウントを指定しない場合は空欄で構いません" @bind-Value="InnerTransferTransaction.SignerPublicKey"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransferTransaction.SignerPublicKey)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">RecipientAddress</span>
        <BSInput InputType="InputType.Text" placeholder="Symbol Address" @bind-Value="InnerTransferTransaction.RecipientAddress"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransferTransaction.RecipientAddress)" />
</BSRow>
<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">Message</span>
        <BSInput InputType="InputType.TextArea" placeholder="Message" @bind-Value="InnerTransferTransaction.Message"/>
    </BSInputGroup>
    <ValidationMessage For="@(() => InnerTransferTransaction.Message)" />
</BSRow>

    <h5>Mosaics</h5>
    @{
        InnerTransferTransaction.Mosaics ??= new List<Mosaic>();
    } 
    <BSRow MarginBottom="Margins.Medium">
    @foreach (var mosaic in InnerTransferTransaction.Mosaics)
        {
                <BSInputGroup>
                    <BSInput InputType="InputType.Text" placeholder="Mosaic ID" @bind-Value="mosaic.Id"/>
                    <BSInput InputType="InputType.Number" placeholder="Amount" @bind-Value="mosaic.Amount"/>
                    <BSButton Color="BSColor.Secondary" IsOutlined="true" OnClick="() => RemoveMosaic(mosaic)">-</BSButton>
                </BSInputGroup>
                <ValidationMessage For=@(() => mosaic.Id) />
                <ValidationMessage For=@(() => mosaic.Amount) />
        }
    </BSRow>
    <BSInputGroup MarginBottom="Margins.Medium">
        <BSButton Color="BSColor.Primary" IsOutlined="true" OnClick="@AddMosaic">+</BSButton>
    </BSInputGroup>
@code {
    [Parameter]
    public aLice_utils.Shared.Models.Transaction.InnerTransferTransaction InnerTransferTransaction { get; set; } = new ();
    
    private void AddMosaic()
    {
        InnerTransferTransaction.Mosaics.Add(new Mosaic("", ""));
    }
    private void RemoveMosaic(Mosaic mosaic)
    {
        InnerTransferTransaction.Mosaics.Remove(mosaic);
    }
}